/* General font style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */
header {
    /* background-image: #41B6E6; */
    color: white;
    font-size: 2em;
    background-image: url(../Images/header_banner.png); 
    background-size: cover; 
    background-position: center; 
}

.btn{
    background-color: #ffdcdf !important;
    color: black !important;
    border-color: #f5c6c8 !important;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and color */
}

.btn:hover {
    background-color: #f5c6c8 !important; /* Slightly darker shade */
    color: black !important;
    border-color: #ffdcdf !important;
}

/* Footer styles */
footer {
    background-color: #ffdcdf;;
    font-size: 2em;
    font-weight: 700;
}
footer .address, footer .email {
    font-size: 0.5em;
}
.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: #FFD700; /* Gold color for hover effect */
}

.logo {
    max-height: 15vh;
}

.bg-success {
    background-color: #41B6E6 !important;
}

.border-success {
    border-color: #41B6E6 !important;
}

#dais-tba{
    background-color: antiquewhite; 
    min-height: 100vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url(../Images/DaisToBeAnnounced.jpg); 
    background-size: cover;
    background-position: center;
}

#register{
    height: 100vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url(../Images/sunway_uni.jpg); 
    background-size: cover; 
    background-position: center;
}

#under_construction{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)), url(../Images/UnderCon_icon.svg); 
    background-size: cover; 
    background-position: center; 
    min-height: 80vh;
}

html {
    scroll-snap-type: y mandatory;
}

section, header, footer {
    scroll-snap-align: center;
}

.nav-link{
    color: black !important;
}

.nav-link.active{
    background-color: inherit !important;
    outline: 3px solid black !important;
}

.nav-link:hover{
    outline: 1px solid black;
    transition: border 0.3s ease-in-out; /* Smooth transition for the border */
}

#theme{
    font-family: 'Futura', sans-serif; /* Futura font */
    font-weight: bold; /* Bold text */
    font-style: italic; /* Italic text */
}

#title_banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.1)), url(../Images/sunway_uni.jpg); 
    background-size: cover; 
    background-position: center;
}

/* .bg-committee{
    background-color: #f5dddf;
} */