/* Header styles */
header {
    background-color: #41B6E6;
    color: white;
    font-size: 2em;
}

/* Footer styles */
footer {
    background-color: #41B6E6;
    color: white;
    font-size: 2em;
}

footer .address, footer .email {
    font-size: 0.5em;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: #FFD700; /* Gold color for hover effect */
}

.logo {
    max-height: 15vh;
}

.bg-success {
    background-color: #41B6E6 !important;
}

.border-success {
    border-color: #41B6E6 !important;
}

/* .bg-committee{
    background-color: #f5dddf;
} */